<!-- views/dashboard.ejs (Dynamic content template) -->
<div class="dashboard">
    <h2>Dashboard for <%= user %>
    </h2>
    <p>Posts: <%= stats.posts %>
    </p>
    <p>Followers: <%= stats.followers %>
    </p>
    <p>Following: <%= stats.following %>
    </p>
</div>