<!-- Header Container -->
<div class="header-container">
    <!-- Top Header -->
    <div class="top-header">
        <div class="web-text">
            <p id="para">
                <span>RID Bharat Run by TWF</span>
            </p>
            <p>Helpline: <span>+91- 9202707903</span></p>
            <p>Email: <span>ridorg.in@gmail.com</span></p>
        </div>
        <div class="right-text">
            <a class="link" href="#">ISO:9001:2015 Certified</a>
            <a class="link" href="#">TWF</a>
            <a class="link" href="#">Reg.No:048884</a>
            <a class="link" href="#">ESTD:2020</a>
        </div>
    </div>

    <!-- Main Navigation -->
    <div class="main-header">
        <div class="nav" id="main-nav">
            <div class="logo">
                <img
                        src="/assets/background/final_logo.svg"
                        alt="RID Bharat Logo"
                        onerror="this.src='https://via.placeholder.com/260x70/083d5d/FFFFFF?text=RID+Bharat+Logo'"
                />
                <div class="menu-icon" id="menuIcon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="menu" id="innerCont">
                <div class="upperNav">
                    <button class="nav-button" id="onlineTest1">
                        <i class="fa-brands fa-servicestack"></i>
                        RTS Online
                    </button>

                    <button class="nav-button" id="ebookBtn">
                        <i class="fa-solid fa-book"></i>
                        E-Book
                    </button>

                    <div class="certificate">
                        <button class="nav-button" id="certificate">
                            <i class="fa-solid fa-certificate"></i>
                            Certificate
                        </button>
                    </div>

                    <div class="btn-box">
                        <div id="swap-btn"></div>
                        <button class="toggle-btn" id="logInButton">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            Login
                        </button>
                        <button class="toggle-btn" id="signUpBtn">
                            <i class="fa-solid fa-user-plus"></i>
                            Register
                        </button>
                    </div>
                </div>
                <ul class="lowerNav">
                    <li>
                        <a class="menu-link" href="/">
                            <i class="fa-solid fa-house"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <a class="menu-link" href="#">
                            <i class="fa-solid fa-file-lines"></i>
                            Research Papers
                        </a>
                    </li>
                    <li>
                        <a
                                class="menu-link"
                                href="/about"
                                id="about-link"
                        >
                            <i class="fa-solid fa-circle-info"></i>
                            About Us
                        </a>
                    </li>
                    <li class="dropdown" id="center-dropdown">
                        <a class="menu-link dropdown-toggle" href="#">
                            <i class="fa-solid fa-hub"></i>
                            Center <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a class="nav-link" href="#">
                                        <i
                                                class="fa-solid fa-graduation-cap"
                                        ></i>
                                        Skill Center
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#">
                                        <i
                                                class="fa-solid fa-people-group"
                                        ></i>
                                        WIT Center
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#">
                                        <i
                                                class="fa-solid fa-flask"
                                        ></i>
                                        RID Center
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a
                                class="menu-link"
                                href="/contact"
                        >
                            <i class="fa-solid fa-headset"></i>
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
